/* Dropdown */
#dropdown_container {
    margin-left: 60px;
}

#dropdown_content_season {
    height: 140px;
}

#dropdown_content_stats {
    height: 56px;
}

#dropdown_stats_container {
    margin-left: 10px;
}

#updated_date {
    margin-right: 200px;
}

@media only screen and (min-width: 1500px) {

    #dropdown_content_season {
        height: 190px;
    }

    #dropdown_content_stats {
        height: 80px;
    }
}

@media only screen and (max-width: 620px) {

    #dropdown_container {
      margin-left: 0px;
    }

    #dropdown_content_season {
        height: 85px;
    }

    #dropdown_content_stats {
        height: 34px;
    }

    #dropdown_stats_container {
        margin-left: 0px;
    }

    #updated_date {
        margin-right: 0px;
    }
}

/* Figure 3 */
#f3_container {
    margin: 20px auto 0 auto;
    width: 1000px;
}
  
.axis path, .axis .tick line {
    stroke: silver;
}

.axis text {
    fill: dimgray;
    font-size: 10px;
}

.yaxis_title {
    fill: dimgray;
    font-size: 15px;
}

.line_thin {
    fill: none;
    stroke-width: 1.5px;
}

.line_thin.selected {
    stroke-width: 3px;
}

.line_fat {
    fill: none;
    stroke: gray;
    stroke-width: 15px;
    stroke-opacity: 0;
}

.player_text, .group_player_text, .player_count_text {
    font-size: 13px;
    font-family: Arial, sans-serif;
}

.team_text {
    font-size: 11px;
    font-family: Arial, sans-serif;
    pointer-events: none;
}

.value_text {
    font-size: 12px;
    font-family: Arial, sans-serif;
    pointer-events: none;
}

@media only screen and (min-width: 1500px) {

    #f3_container{
        width: 1300px;
    }
}

@media only screen and (max-width: 1000px) {

    #f3_container{
        width: 100%;
    }
}

@media only screen and (max-width: 620px) {

    #f3_container{
        margin-top: 10px;
        width: 100%;
    }
  
    .player_text, .group_player_text, .player_count_text {
      font-size: 22px;
    }

    .team_text {
        font-size: 18px;
    }

    .value_text {
        font-size: 20px;
    }
  
    .axis text {
      font-size: 18px;
    }
  
    .yaxis_title {
      font-size: 24px;
    }

    .line_thin {
        stroke-width: 3px;
    }

    .line_thin.selected {
        stroke-width: 5px;
    }
  }

.player_text, .group_player_text, .player_count_text {
    -webkit-tap-highlight-color: transparent;
}