/* Figure 3 */
#f3_container {
    margin: 20px auto 0 auto;
    width: 70%;
}
  
.axis path, .axis .tick line {
stroke: silver;
}

.axis text {
fill: dimgray;
font-size: 10px;
}

.name_texts {
    fill: #2e4053;
    text-anchor: end;
    font-size: 12px;
    pointer-events: none;
}

.team_texts {
    fill: #34495e;
    text-anchor: end;
    font-size: 8px;
    pointer-events: none;
}

.goal_texts {
    fill: #2e4053;
    text-anchor: end;
    font-size: 12px;
    pointer-events: none;
}

#date_text {
    fill: #2e4053;
    text-anchor: end;
    font-size: 20px;
}