/* Dropdown */
#dropdown_container {
  margin-left: 30px;
}

#dropdown_team_container {
  margin-left: 10px;
}

@media only screen and (max-width: 620px) {

  #dropdown_container {
    margin-left: 0px;
  }

  #dropdown_team_container {
    margin-left: 3px;
  }
}

/* Figure 2 */
#f2_container {
  margin: 20px auto 0 auto;
  width: 70%;
}

.team_texts {
  fill: DimGray;
  text-anchor: middle;
  font-size: 13px;
  pointer-events: none;
}

#background_text {
  fill: #e5e7e9;
  font-size: 70px;
  text-anchor: end;
}

.team_dots {
  stroke-width: 2px;
}

.dots_connect {
  stroke-width: 2px;
  stroke: Crimson;
}

.axis path, .axis .tick line {
  stroke: silver;
}

.axis text {
  fill: dimgray;
  font-size: 10px;
}

.axis_title {
  fill: dimgray;
  font-size: 15px;
}

@media only screen and (min-width: 1500px) {

  #f2_container{
    width: 1100px;
  }
}

@media only screen and (min-width: 620px) and (max-width: 840px) {

  #f2_container{
    margin-top: 10px;
    width: 100%;
  }

  .axis text {
    font-size: 12px;
  }

  .axis_title {
    font-size: 16px;
  }

}

@media only screen and (max-width: 620px) {

  #f2_container{
      margin-top: 10px;
      width: 100%;
  }

  .team_texts {
    font-size: 25px;
  }

  #background_text {
    font-size: 100px;
  }

  .team_dots {
    stroke-width: 4px;
  }

  .dots_connect {
    stroke-width: 4px;
  }

  .axis text {
    font-size: 18px;
  }

  .axis_title {
    font-size: 24px;
  }
}