.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 7px;
    background-color: #383838;
    color: white;
    opacity: 0.7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.4);
}

.tooltip.hidden {
    display: none;
    pointer-events: none;
}

.tooltip p{
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    color: white;
    line-height: 17px;
    padding: 1px 15px 1px 15px;
    letter-spacing: 1.25px;
}

.tooltip hr {
    height:1px;
    margin-bottom: 1px;
    border-width:0;
}

#tooltip_f1 .ttp_1{
    font-weight: bold;
}

#tooltip_f1 .ttp_1 span{
    font-weight: normal;
}

#tooltip_f1 .ttp_2 span{
    font-size: 14px;
}

#tooltip_f1 hr {
  background-color:#eaecee;
  color:#eaecee;
}

#tooltip_f2 .ttp_header {
    font-size: 16px;
    line-height: 18px;
}

#tooltip_f2 .ttp_body, #tooltip_f3 p{
    font-size: 14px;
    line-height: 16px;
}

#tooltip_f2 span{
    font-size: 12px;
    color: LightGray;
}

#tooltip_f2 hr, #tooltip_f3 hr {
    background-color:gray;
    color:gray;
}

@media only screen and (min-width: 1500px) {

    .tooltip p{
        font-size: 18px;
        line-height: 20px;
    }
  
    #tooltip_f1 .ttp_2 span{
        font-size: 15px;
    }
}

@media only screen and (max-width: 620px) {

    .tooltip p{
        font-size: 13px;
        line-height: 13px;
        padding: 1px 3px 1px 3px;
        letter-spacing: normal;
    }
  
    #tooltip_f1 .ttp_2 span{
        font-size: 9px;
    }
  
}